{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{deps, [
    {cowboy,        ".*",   {git, "https://github.com/extend/cowboy.git",           "master"}},
    {jsx,           "1.4",  {git, "https://github.com/talentdeficit/jsx",           {tag, "v1.4"}}}
    %{jsx, "1.4", {git, "https://github.com/talentdeficit/jsx", {tag, "v1.4"}}}
]}.
